<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpdev2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".InsereNoticiaActivity"></activity>
        <activity android:name=".TelaAdminAcvitivty" />
        <activity android:name=".ComentarioGeralActivity" />
        <activity android:name=".ComentarioPessoalActivity" />
        <activity android:name=".PostarDuvidaActivity" />
        <activity android:name=".DuvidasPessoaisActivity" />
        <activity android:name=".DuvidasGeraisActivity" />
        <activity android:name=".CodigoActivity" />
        <activity android:name=".PerfilActivity" />
        <activity android:name=".NoticiasActivity" />
        <activity android:name=".TelaInicialActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>